*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/cropper/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/AndroidManifest.xml
/cropper/build/intermediates/library_manifest/debug/AndroidManifest.xml
/cropper/build/intermediates/annotation_processor_list/debug/annotationProcessors.json
/cropper/build/intermediates/javac/debug/classes/com/theartofdev/edmodo/cropper/BitmapCroppingWorkerTask$Result.class
/cropper/build/intermediates/javac/debug/classes/com/theartofdev/edmodo/cropper/BitmapCroppingWorkerTask.class
/cropper/build/intermediates/javac/debug/classes/com/theartofdev/edmodo/cropper/BitmapLoadingWorkerTask$Result.class
/cropper/build/intermediates/javac/debug/classes/com/theartofdev/edmodo/cropper/BitmapLoadingWorkerTask.class
/cropper/build/intermediates/javac/debug/classes/com/theartofdev/edmodo/cropper/BitmapUtils$BitmapSampled.class
/cropper/build/intermediates/javac/debug/classes/com/theartofdev/edmodo/cropper/BitmapUtils$RotateBitmapResult.class
/cropper/build/intermediates/javac/debug/classes/com/theartofdev/edmodo/cropper/BitmapUtils.class
/cropper/build/intermediates/javac/debug/classes/com/theartofdev/edmodo/cropper/BuildConfig.class
/cropper/build/intermediates/compile_library_classes_jar/debug/classes.jar
/cropper/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
/cropper/build/intermediates/packaged_res/debug/layout/crop_image_activity.xml
/cropper/build/intermediates/packaged_res/debug/menu/crop_image_menu.xml
/cropper/build/intermediates/packaged_res/debug/drawable-hdpi-v4/crop_image_menu_flip.png
/cropper/build/intermediates/packaged_res/debug/drawable-xhdpi-v4/crop_image_menu_flip.png
/cropper/build/intermediates/packaged_res/debug/drawable-xxhdpi-v4/crop_image_menu_flip.png
/cropper/build/intermediates/packaged_res/debug/drawable-xxxhdpi-v4/crop_image_menu_flip.png
/cropper/build/intermediates/packaged_res/debug/drawable-hdpi-v4/crop_image_menu_rotate_left.png
/cropper/build/intermediates/packaged_res/debug/drawable-xhdpi-v4/crop_image_menu_rotate_left.png
/cropper/build/intermediates/packaged_res/debug/drawable-xxhdpi-v4/crop_image_menu_rotate_left.png
/cropper/build/intermediates/packaged_res/debug/drawable-xxxhdpi-v4/crop_image_menu_rotate_left.png
/cropper/build/intermediates/packaged_res/debug/drawable-hdpi-v4/crop_image_menu_rotate_right.png
/cropper/build/intermediates/packaged_res/debug/drawable-xhdpi-v4/crop_image_menu_rotate_right.png
/cropper/build/intermediates/packaged_res/debug/drawable-xxhdpi-v4/crop_image_menu_rotate_right.png
/cropper/build/intermediates/packaged_res/debug/drawable-xxxhdpi-v4/crop_image_menu_rotate_right.png
/cropper/build/intermediates/packaged_res/debug/layout/crop_image_view.xml
/cropper/build/intermediates/javac/debug/classes/com/theartofdev/edmodo/cropper/CropImage$1.class
/cropper/build/intermediates/javac/debug/classes/com/theartofdev/edmodo/cropper/CropImage$ActivityBuilder.class
/cropper/build/intermediates/javac/debug/classes/com/theartofdev/edmodo/cropper/CropImage$ActivityResult$1.class
/cropper/build/intermediates/javac/debug/classes/com/theartofdev/edmodo/cropper/CropImage$ActivityResult.class
/cropper/build/intermediates/javac/debug/classes/com/theartofdev/edmodo/cropper/CropImage.class
/cropper/build/intermediates/javac/debug/classes/com/theartofdev/edmodo/cropper/CropImageActivity.class
/cropper/build/intermediates/javac/debug/classes/com/theartofdev/edmodo/cropper/CropImageAnimation.class
/cropper/build/intermediates/javac/debug/classes/com/theartofdev/edmodo/cropper/CropImageOptions$1.class
/cropper/build/intermediates/javac/debug/classes/com/theartofdev/edmodo/cropper/CropImageOptions.class
/cropper/build/intermediates/javac/debug/classes/com/theartofdev/edmodo/cropper/CropImageView$1.class
/cropper/build/intermediates/javac/debug/classes/com/theartofdev/edmodo/cropper/CropImageView$CropResult.class
/cropper/build/intermediates/javac/debug/classes/com/theartofdev/edmodo/cropper/CropImageView$CropShape.class
/cropper/build/intermediates/javac/debug/classes/com/theartofdev/edmodo/cropper/CropImageView$Guidelines.class
/cropper/build/intermediates/javac/debug/classes/com/theartofdev/edmodo/cropper/CropImageView$OnCropImageCompleteListener.class
/cropper/build/intermediates/javac/debug/classes/com/theartofdev/edmodo/cropper/CropImageView$OnSetCropOverlayMovedListener.class
/cropper/build/intermediates/javac/debug/classes/com/theartofdev/edmodo/cropper/CropImageView$OnSetCropOverlayReleasedListener.class
/cropper/build/intermediates/javac/debug/classes/com/theartofdev/edmodo/cropper/CropImageView$OnSetCropWindowChangeListener.class
/cropper/build/intermediates/javac/debug/classes/com/theartofdev/edmodo/cropper/CropImageView$OnSetImageUriCompleteListener.class
/cropper/build/intermediates/javac/debug/classes/com/theartofdev/edmodo/cropper/CropImageView$RequestSizeOptions.class
/cropper/build/intermediates/javac/debug/classes/com/theartofdev/edmodo/cropper/CropImageView$ScaleType.class
/cropper/build/intermediates/javac/debug/classes/com/theartofdev/edmodo/cropper/CropImageView.class
/cropper/build/intermediates/javac/debug/classes/com/theartofdev/edmodo/cropper/CropOverlayView$1.class
/cropper/build/intermediates/javac/debug/classes/com/theartofdev/edmodo/cropper/CropOverlayView$CropWindowChangeListener.class
/cropper/build/intermediates/javac/debug/classes/com/theartofdev/edmodo/cropper/CropOverlayView$ScaleListener.class
/cropper/build/intermediates/javac/debug/classes/com/theartofdev/edmodo/cropper/CropOverlayView.class
/cropper/build/intermediates/javac/debug/classes/com/theartofdev/edmodo/cropper/CropWindowHandler.class
/cropper/build/intermediates/javac/debug/classes/com/theartofdev/edmodo/cropper/CropWindowMoveHandler$1.class
/cropper/build/intermediates/javac/debug/classes/com/theartofdev/edmodo/cropper/CropWindowMoveHandler$Type.class
/cropper/build/intermediates/javac/debug/classes/com/theartofdev/edmodo/cropper/CropWindowMoveHandler.class
/cropper/build/intermediates/compiled_local_resources/debug/out/drawable-hdpi-v4_crop_image_menu_flip.png.flat
/cropper/build/intermediates/compiled_local_resources/debug/out/drawable-hdpi-v4_crop_image_menu_rotate_left.png.flat
/cropper/build/intermediates/compiled_local_resources/debug/out/drawable-hdpi-v4_crop_image_menu_rotate_right.png.flat
/cropper/build/intermediates/compiled_local_resources/debug/out/drawable-xhdpi-v4_crop_image_menu_flip.png.flat
/cropper/build/intermediates/compiled_local_resources/debug/out/drawable-xhdpi-v4_crop_image_menu_rotate_left.png.flat
/cropper/build/intermediates/compiled_local_resources/debug/out/drawable-xhdpi-v4_crop_image_menu_rotate_right.png.flat
/cropper/build/intermediates/compiled_local_resources/debug/out/drawable-xxhdpi-v4_crop_image_menu_flip.png.flat
/cropper/build/intermediates/compiled_local_resources/debug/out/drawable-xxhdpi-v4_crop_image_menu_rotate_left.png.flat
/cropper/build/intermediates/compiled_local_resources/debug/out/drawable-xxhdpi-v4_crop_image_menu_rotate_right.png.flat
/cropper/build/intermediates/compiled_local_resources/debug/out/drawable-xxxhdpi-v4_crop_image_menu_flip.png.flat
/cropper/build/intermediates/compiled_local_resources/debug/out/drawable-xxxhdpi-v4_crop_image_menu_rotate_left.png.flat
/cropper/build/intermediates/compiled_local_resources/debug/out/drawable-xxxhdpi-v4_crop_image_menu_rotate_right.png.flat
/cropper/build/intermediates/compiled_local_resources/debug/out/layout_crop_image_activity.xml.flat
/cropper/build/intermediates/compiled_local_resources/debug/out/layout_crop_image_view.xml.flat
/cropper/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
/cropper/build/outputs/logs/manifest-merger-debug-report.txt
/cropper/build/intermediates/compiled_local_resources/debug/out/menu_crop_image_menu.xml.flat
/cropper/build/intermediates/incremental/packageDebugResources/merger.xml
/cropper/build/intermediates/navigation_json/debug/navigation.json
/cropper/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/output.json
/cropper/build/intermediates/merged_manifests/debug/output.json
/cropper/build/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
/cropper/build/intermediates/compile_only_not_namespaced_r_class_jar/debug/R.jar
/cropper/build/intermediates/compile_symbol_list/debug/R.txt
/cropper/build/intermediates/local_only_symbol_list/debug/R-def.txt
/cropper/build/intermediates/incremental/packageDebugResources/merged.dir/values/values.xml
/cropper/build/intermediates/packaged_res/debug/values/values.xml
/cropper/build/intermediates/incremental/packageDebugResources/merged.dir/values-ar/values-ar.xml
/cropper/build/intermediates/packaged_res/debug/values-ar/values-ar.xml
/cropper/build/intermediates/incremental/packageDebugResources/merged.dir/values-cs/values-cs.xml
/cropper/build/intermediates/packaged_res/debug/values-cs/values-cs.xml
/cropper/build/intermediates/incremental/packageDebugResources/merged.dir/values-de/values-de.xml
/cropper/build/intermediates/packaged_res/debug/values-de/values-de.xml
/cropper/build/intermediates/incremental/packageDebugResources/merged.dir/values-es/values-es.xml
/cropper/build/intermediates/packaged_res/debug/values-es/values-es.xml
/cropper/build/intermediates/incremental/packageDebugResources/merged.dir/values-es-rGT/values-es-rGT.xml
/cropper/build/intermediates/packaged_res/debug/values-es-rGT/values-es-rGT.xml
/cropper/build/intermediates/incremental/packageDebugResources/merged.dir/values-fa/values-fa.xml
/cropper/build/intermediates/packaged_res/debug/values-fa/values-fa.xml
/cropper/build/intermediates/incremental/packageDebugResources/merged.dir/values-fr/values-fr.xml
/cropper/build/intermediates/packaged_res/debug/values-fr/values-fr.xml
/cropper/build/intermediates/incremental/packageDebugResources/merged.dir/values-he/values-he.xml
/cropper/build/intermediates/packaged_res/debug/values-he/values-he.xml
/cropper/build/intermediates/incremental/packageDebugResources/merged.dir/values-hi/values-hi.xml
/cropper/build/intermediates/packaged_res/debug/values-hi/values-hi.xml
/cropper/build/intermediates/incremental/packageDebugResources/merged.dir/values-id/values-id.xml
/cropper/build/intermediates/packaged_res/debug/values-id/values-id.xml
/cropper/build/intermediates/incremental/packageDebugResources/merged.dir/values-in/values-in.xml
/cropper/build/intermediates/packaged_res/debug/values-in/values-in.xml
/cropper/build/intermediates/incremental/packageDebugResources/merged.dir/values-it/values-it.xml
/cropper/build/intermediates/packaged_res/debug/values-it/values-it.xml
/cropper/build/intermediates/incremental/packageDebugResources/merged.dir/values-ja/values-ja.xml
/cropper/build/intermediates/packaged_res/debug/values-ja/values-ja.xml
/cropper/build/intermediates/incremental/packageDebugResources/merged.dir/values-ko/values-ko.xml
/cropper/build/intermediates/packaged_res/debug/values-ko/values-ko.xml
/cropper/build/intermediates/incremental/packageDebugResources/merged.dir/values-ms/values-ms.xml
/cropper/build/intermediates/packaged_res/debug/values-ms/values-ms.xml
/cropper/build/intermediates/incremental/packageDebugResources/merged.dir/values-nb/values-nb.xml
/cropper/build/intermediates/packaged_res/debug/values-nb/values-nb.xml
/cropper/build/intermediates/incremental/packageDebugResources/merged.dir/values-nl/values-nl.xml
/cropper/build/intermediates/packaged_res/debug/values-nl/values-nl.xml
/cropper/build/intermediates/incremental/packageDebugResources/merged.dir/values-pl/values-pl.xml
/cropper/build/intermediates/packaged_res/debug/values-pl/values-pl.xml
/cropper/build/intermediates/incremental/packageDebugResources/merged.dir/values-pt-rBR/values-pt-rBR.xml
/cropper/build/intermediates/packaged_res/debug/values-pt-rBR/values-pt-rBR.xml
/cropper/build/intermediates/incremental/packageDebugResources/merged.dir/values-ru-rRU/values-ru-rRU.xml
/cropper/build/intermediates/packaged_res/debug/values-ru-rRU/values-ru-rRU.xml
/cropper/build/intermediates/incremental/packageDebugResources/merged.dir/values-sv/values-sv.xml
/cropper/build/intermediates/packaged_res/debug/values-sv/values-sv.xml
/cropper/build/intermediates/incremental/packageDebugResources/merged.dir/values-tr/values-tr.xml
/cropper/build/intermediates/packaged_res/debug/values-tr/values-tr.xml
/cropper/build/intermediates/incremental/packageDebugResources/merged.dir/values-ur/values-ur.xml
/cropper/build/intermediates/packaged_res/debug/values-ur/values-ur.xml
/cropper/build/intermediates/incremental/packageDebugResources/merged.dir/values-vi/values-vi.xml
/cropper/build/intermediates/packaged_res/debug/values-vi/values-vi.xml
/cropper/build/intermediates/incremental/packageDebugResources/merged.dir/values-zh/values-zh.xml
/cropper/build/intermediates/packaged_res/debug/values-zh/values-zh.xml
/cropper/build/intermediates/incremental/packageDebugResources/merged.dir/values-zh-rCN/values-zh-rCN.xml
/cropper/build/intermediates/packaged_res/debug/values-zh-rCN/values-zh-rCN.xml
/cropper/build/intermediates/incremental/packageDebugResources/merged.dir/values-zh-rTW/values-zh-rTW.xml
/cropper/build/intermediates/packaged_res/debug/values-zh-rTW/values-zh-rTW.xml
